// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 0.9em;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  width:960px;
  margin: 0 auto;
}

a {
  color: #f15a29;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  -webkit-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, box-shadow .15s ease-out, text-shadow .15s ease-out;
  -moz-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, box-shadow .15s ease-out, text-shadow .15s ease-out;
  -ms-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, box-shadow .15s ease-out, text-shadow .15s ease-out;
  -o-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, box-shadow .15s ease-out, text-shadow .15s ease-out;
  transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, box-shadow .15s ease-out, text-shadow .15s ease-out;
}
a:visited {
  color: #f15a29;
}
a:active {
  outline: 0;
}
a:focus {
  color: #a9320b !important;
  outline: 0;
}
a:hover {
  cursor: pointer;
  color: #a9320b;
  text-decoration: none;
}

form.edit_feed {
  input[type=submit] {
    font-size: 3em;
  }
}

code {
  background-color: #e7e9ea;
  padding: .15em .25em;
}
